<!-- <div class="changePassword">
    <h2>Change Password</h2>
    <div>
        <div>
            <input placeholder="new Password" value="{{newPassword}}" [(ngModel)]="newPassword">
        </div>
        <div>
            <input placeholder="confirm new Password" value="{{confirmPassword}}" [(ngModel)]="confirmPassword">
        </div>
        <div>
            <input placeholder="current password" type="password" value="{{password}}" [(ngModel)]="password">
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="verifyPasswordChange()">Confirm</button>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <div class="clickedSettings">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <h3 class="title">Changing password for {{this.userService.getCurrentUser().getAlias()}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-1 col-sm-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New password:" [(ngModel)]="newPassword" value="{{newPassword}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-sm-1">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Confirm New password:" [(ngModel)]="confirmPassword" value="{{confirmPassword}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-sm-1">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Old password:" type="password" [(ngModel)]="password" value="{{password}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-sm-3 offset-sm-1">
                    <button mat-raised-button color="primary" (click)="verifyPasswordChange()">Save Changes</button>
                </div>
                <div class="col-sm-3">
                    <button mat-raised-button color="primary" (click)="cancel()">Cancel Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>