<h1>PROJECT JV5</h1>

<form [formGroup]="messageForm">


    <label>
      Email:
      <input type="text" formControlName="username">
      <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
        <div *ngIf="messageForm.controls.username.errors.required">Put in a valid email next time idiot</div>
      </div>
    </label>

    <label>
        Password:
        <input type="text" formControlName="password">
        <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
          <div *ngIf="messageForm.controls.password.errors.required">Forgot the password retard</div>
        </div>
    </label>

    <div *ngIf="!success">Email or password is incorrect</div>
</form>

<a routerLink="/home"><button (click)="login()">LOGIN</button></a>
<a routerLink="/register" (click)="register()"><button>SIGNUP</button></a>