<div class="about">
    <p>Project JV5 is a website currently being designed by some college friends who wanted to make a cool website</p>
    <p>The goal of JV5 is to allow users to have an all in one place where they can not only post their own gaming accomplishments to others, but also have a place where the can show other esports orginizations what they've got! Using the sites application
        system you can try and find esports orginiaztions that are looking for players like you. Looking for a leage team? Just search the site and you'll be able to apply to one.
    </p>
</div>