.login {
    position: absolute;
    right: 0;
    padding-right: 100px;
}

.register {
    position: absolute;
    right: 0;
}

.searchButton {
    color: white;
}

.searchField {
    width: 300px;
    border: 1px solid #999999;
}

.homeButton {
    padding-left: 25px;
    padding-right: 100px;
}

.profilePic {
    position: absolute;
    right: 0;
    border-radius: 50%;
    max-width: 4%;
    max-height: 4%;
    left: 95%;
    cursor: pointer;
}